* {
    background-image: none;
}

html, body:not(.table) {
    background-image: url("./images/display.jpg");
    color: white;
}



/* table {
    border-spacing: 0;
}

tbody, thead tr { display: block; }

tbody {
    height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
} */

/* tbody td, thead th {
    width: 140px;
}

thead th:last-child {
    width: 156px; 140px + 16px scrollbar width
} */

/* 

thead, tbody { 
    display: block;
}

th, td {
    width: 20%;
}

tbody {
    height: 100px;
     
} */

/* .table {
    height: 200px;
} */

/* tbody {
    height: 100px;
    overflow-y: auto; 
    overflow-x: auto; 
} */

@media only screen and (max-width: 600px) {
    html, body {
        background-image: url("./images/mobile.png");
        background-size: cover;
    }

    .card {
        width: 80%;
    }

    .table {
        width: 80%;
    }

}

@media only screen and (max-width: 767px) {
    
    .table {
        margin-top: 10px;
    }

}

.body-holder {
    margin: 10px;
}

.card {
    border: none;
    background: rgba(43, 43, 43, 0.4);
}

.navbar-brand {
    color: white !important;
}

.row {
    margin-top: 10px;
}

.table {
    background-color: rgb(245, 245, 245, .75);
}
